.body-content{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.app-content{

}
.wallet{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.app-interface{
    flex-basis: 100%;
    display: none;
}
.has-wallet, .dont-have-wallet{
    flex-basis: 100%;
}
.wallet-info-container{
    display: flex;
}
#confirmtx_btn{
    margin: 0px 10px;
}
.f-100{
    flex-basis: 100%;
}
.floating-button{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right:20px;
}
.opacity{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    z-index: 1100;
}
.loader{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1101;
}
