.container {
  padding: 0 2rem;
  margin: 50px auto 0;
  width: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}

.label {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.input {
  margin-left: 10px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.button {
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #3e8e41;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}
.btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.mini{
  width: 30%;
  margin: 10px;
  display: flex;
  flex-direction: row;
}