#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.input {
  padding: 10px 15px;
  width: 200px;
  border: 1px solid wheat;
  outline: none;
}

.card {
  padding: 2em;
}
