@use 'styles/variables' as *;
@use 'styles/breakpoints' as *;

.topTab {
  height: 46px;
  padding: 0 24px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  & p {
    color: $textDisabled
  }
}

.selectedTab {
  background: $secondary2;
  & p {
    color: $textPrimary;
  }
}

.link {
  cursor: pointer;
  color: $textSecondary;
  &:hover {
    text-decoration: underline;
  }
}

.tokensFilter {
  cursor: pointer;
  display: flex;
  margin: 8px 16px 8px 0;
}

.panel {
  background: $grey3;
  border-radius: 20px;
  padding: 24px;
  @include media("screen", "<phone") {
    padding: 12px;
  }
}

.analyticsVolumeChart {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headingWrapper {
  display: flex;
  align-items: center;
  & h6 {
    color: $textDisabled;
  };
  & svg {
    height: 16px;
    margin-left: 2;
    color: $blue;
  }
}

.priceChangeWrapper {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  padding: 0 8px;
}

.heading1 {
  font-size: 32px;
  font-weight: bold;
  color: $textPrimary;
  line-height: 1;
  & a {
    color: $textPrimary;
    text-decoration: none;
  }
  @include media("screen", "<phone") {
    font-size: 22px;
    font-weight: 600;
  }
}

.heading2 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  color: $textHint;
  margin-left: 6px;
  @include media("screen", "<phone") {
    font-size: 18px
  }
}

.button {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 28px;
  border-radius: 10px;
  color: $textPrimary;
  cursor: pointer;
}

.filledButton {
  background: linear-gradient(279deg, rgb(0, 76, 230), rgb(61, 113, 255))
}

.analyticsDetailsInfo {
  margin: 16px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    &:not(:first-child) {
      margin-top: 32px;
    }
    @include media("screen", "<tablet") {
      width: 100%;
    }
    @include media("screen", "<phone") {
      &:not(:first-child) {
        margin-top: 0;
      }
      & > div {
        width: 100%;
        text-align: left;
        margin: 16px 0;
      }
    }
  }
}

.analyticsPairRate {
  padding: 6px 12px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  background-color: $grey3;
}
