@use 'styles/variables' as *;
@use 'styles/breakpoints' as *;

.wrapper {
  padding: 24px;
  background: $bgPalette;
  border-radius: 20px;
  @include media("screen", "<phone") {
    padding: 16px 12px
  }
  align-items: center;
}

.limitOrderPanel {
  & > div {
    max-width: unset;
  }
}

.swapTokenDetails {
  background: $bgPalette1;
  border-radius: 16px;
  width: calc(50% - 16px);
  @include media("screen", "<desktop") {
    width: 100%;
    margin-bottom: 16px;
  }
  @include media("screen", "<tablet") {
    width: calc(50% - 16px);
    margin: 0
  }
  @include media("screen", "<phone") {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.swapItem {
  width: 122px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  & p {
    color: $textSecondary;
  }
}

.activeSwap {
  background: $secondary1;
  & p {
    color: rgba(2, 0, 0, 0.582)
  }
}

.headingItem {
  cursor: pointer;
  display: flex;
}

.proModeWrapper {
  border-top: 1px solid $divider;
  border-bottom: 1px solid $divider;
  .swapItem {
    border-radius: 0
  }
}

.liquidityMain {
  & small {
    color: $textSecondary;
    font-weight: 600;
  }
}

.liquidityFilter {
  & small {
    cursor: pointer;
    margin-right: 20px;
    &.active {
      color: $bgColor;
    }
  }
}

.liquidityContent {
  border: 1px solid $secondary1;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  & small {
    font-weight: 600;
  }
}

.splitPane {
  & [data-type=Resizer] {
    margin: 8px 0 0
  }
}

.tradeTable {
  width: 100%;
  & thead tr th, & tbody tr td {
    border-right: 1px solid $divider;
    &:last-child {
      border-right: none
    }
  }
  & thead tr th {
    position: sticky;
    top: 0;
    text-transform: uppercase;
    padding: 8px 16px;
    background: $secondary;
    color: $textPrimary;
    font-weight: normal
  }
  & tbody td.sell {
    color: $errorMain;
    & a {
      color: $errorMain;
    }
  }
  & tbody td.buy {
    color: $successMain;
    & a {
      color: $successMain;
    }
  }
  & tbody tr td {
    padding: 8px 16px;
    & a {
      text-decoration: none
    }
  }
}

.swapFilter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 8px;
  & p {
    text-transform: uppercase
  }
}
.checkWrapper {
  display: flex;
  align-items: center;
  margin-right: 16px;
  & .MuiCheckbox-root {
    padding: 2px;
    & svg path {
      fill: $textPrimary;
    }
  }
  & small {
    text-transform: uppercase;
  }
}
.replayButton {
  cursor: pointer;
  display: flex;
  margin-left: 8px;
}

.swapIcon {
  background: $grey6;
  width: 16px;
  height: 16px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  cursor: pointer;
  & svg {
    width: 14px;
  }
}

.swapProWrapper {
  flex: 1;
  max-height: 100vh;
  min-height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  .reflex-container {
    flex: 1;
  }
  @include media("screen", "<phone") {
    flex: none
  }
}

.swapTxInfo {
  padding: 8px;
  & > div {
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
  }
}

#swap-page{
  align-items: flex-start;
}


.swaphead{
  text-align: center;
}