@use 'styles/variables' as *;

.modalWrapper {
  margin: 0px;
  padding: 0px;
  max-width: 500px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  outline: none;
  background-color: $bgPalette1;
}